<footer id="colophon" class="site-footer" role="contentinfo"><div class="container">
<div id="footer-navigation" class="menu-header-menu-container"><ul id="menu-header-menu-1" class="menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item current-menu-item current_page_item"><a href="https://demo.axlethemes.com/start-magazine-pro/" aria-current="page">Home</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children"><a href="https://demo.axlethemes.com/start-magazine-pro/category/business/">Business</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://demo.axlethemes.com/start-magazine-pro/category/entertainment/">Entertainment</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://demo.axlethemes.com/start-magazine-pro/category/fashion/">Fashion</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://demo.axlethemes.com/start-magazine-pro/category/healths/">Healths</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://demo.axlethemes.com/start-magazine-pro/category/politics/">Politics</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="https://demo.axlethemes.com/start-magazine-pro/category/world-news/">World News</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://demo.axlethemes.com/start-magazine-pro/blog/">Blog</a></li>
</ul></div>
<div class="copyright"><?php echo sysconfig('CMS_WEBNAME'); ?> 版權所有 &copy; <?php echo date('Y'); ?> All Rights Reserved.</div>
<div class="site-info">Start Magazine by <a target="_blank" rel="nofollow" href="https://axlethemes.com">Axle Themes</a></div>
</div><!-- .container --></footer><!-- #colophon -->