<a href="#page" class="scrollup" id="btn-scrollup"><i class="fa fa-angle-up"></i></a>
<script type="text/javascript" src="/js/skip-link-focus-fix.min.js?ver=20130115"></script>
<script type="text/javascript" src="/plugin/cycle2/js/jquery.cycle2.min.js?ver=2.1.6"></script>
<script type="text/javascript" src="/plugin/sidr/js/jquery.sidr.min.js?ver=2.2.1"></script>
<script type="text/javascript" src="/plugin/slick/slick.min.js?ver=1.5.9"></script>
<script type="text/javascript" src="/js/custom.min.js?ver=2.0.1"></script>
<script type="text/javascript" src="/js/public.js"></script>